body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white !important;
  font-family: "Poppins", sans-serif;
}

header {
  top: 0;
}

h1 {
  font-size: 10rem;
}

footer {
  color: #eee;
  font-size: larger;
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.card {
  background-color: #eee;
  height: 100vh;
}
